<h1>Your bookings</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Booked bed</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.bed.title %></td>
        <td><%= booking.date %></td>
        <td><%= booking.duration %></td>
        <td><%= booking.bed.user.first_name %></td>
        <td><%= link_to "Add Review", bed_path(booking.bed, review: true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

