<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between sticky-top">
    <%= link_to root_path do %>
      <div class="navbar-brand">
        <%= image_tag "logo_white.png" %>
      </div>
    <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="col">
          <%= simple_form_for :search, url: beds_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <input class="form-control string required" autocomplete="off" type="text" name="search" id="search_query" value="<%= params[:search] %>" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "My bookings", bookings_path, class: "nav-link" %>
          </li>
          <% if policy(Bed).create? %>
            <li class="nav-item active">
              <%= link_to "Offer your bed", new_bed_path, class: "nav-link" %>
            </li>
          <% end %>

          
          <% if current_user  %>
            <li class="nav-item active dropdown">
                <% if current_user.avatar.attached? %>
                  <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 40, height: 40 %>
                <% else %>
                  <%= image_tag "empty_avatar.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 40, height: 40 %>
                <%end%>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
                </div>
            </li>
          <% else %>
              <li class="nav-item active">
                <%= link_to "Sign in", new_user_session_path, class: "green-btn" %>
              </li>
          <% end %>
        </ul>
      </div>
  </div>
