<div class="banner-container">
    <div class="banner">
    <div class="style">
          <div class="text-on-banner">
              <h2>The app that turns your siesta into a fiesta!</h2>
              <p>Find your perfect bed to have a beautiful siesta today! <br />
              Rent your dream bed and see the difference for yourself. Experience your perfect siesta place now:</p>
              <%= link_to 'Search near you', beds_path, class:'white-btn' %>
          </div>
          <svg class="trustpilot" fill="none" viewBox="0 0 330 24" xmlns="http://www.w3.org/2000/svg"><path d="M213.6 19.459h7.336v-1.54h-5.614v-2.632h4.914v-1.54h-4.914v-2.548h5.544v-1.54H213.6v9.8zm10.485-7.392h-1.848l2.604 3.626-2.702 3.766h1.806l1.806-2.632 1.82 2.632h1.848l-2.716-3.78 2.604-3.612h-1.806l-1.708 2.478-1.708-2.478zm9.743 7.56c1.442 0 2.296-.574 3.024-1.386l-1.022-1.008c-.532.546-1.12.91-1.918.91-1.302 0-2.212-1.05-2.212-2.366v-.028c0-1.288.91-2.352 2.142-2.352.84 0 1.386.378 1.904.924l1.064-1.134c-.7-.756-1.568-1.274-2.954-1.274-2.226 0-3.85 1.764-3.85 3.864v.028c0 2.1 1.624 3.822 3.822 3.822zm7.765 0c1.358 0 2.324-.546 3.024-1.386l-.994-.882c-.588.574-1.176.882-2.002.882-1.092 0-1.946-.672-2.128-1.876h5.432c.014-.168.028-.322.028-.476 0-2.128-1.19-3.976-3.542-3.976-2.114 0-3.612 1.736-3.612 3.85v.028c0 2.282 1.652 3.836 3.794 3.836zm-2.114-4.382c.154-1.148.882-1.946 1.918-1.946 1.12 0 1.764.854 1.876 1.946h-3.794zm7.273 4.214h1.694V9.239h-1.694v10.22zm4.006 0h1.694V9.239h-1.694v10.22zm7.296.168c1.358 0 2.324-.546 3.024-1.386l-.994-.882c-.588.574-1.176.882-2.002.882-1.092 0-1.946-.672-2.128-1.876h5.432c.014-.168.028-.322.028-.476 0-2.128-1.19-3.976-3.542-3.976-2.114 0-3.612 1.736-3.612 3.85v.028c0 2.282 1.652 3.836 3.794 3.836zm-2.114-4.382c.154-1.148.882-1.946 1.918-1.946 1.12 0 1.764.854 1.876 1.946h-3.794zm7.175 4.214h1.694v-4.172c0-1.148.686-1.834 1.666-1.834 1.008 0 1.582.658 1.582 1.806v4.2h1.694v-4.718c0-1.708-.966-2.828-2.632-2.828-1.148 0-1.834.602-2.31 1.288v-1.134h-1.694v7.392zm11.16.126c.644 0 1.106-.14 1.526-.378v-1.386a2.277 2.277 0 01-1.05.252c-.574 0-.91-.266-.91-.924v-3.626h1.988v-1.456h-1.988v-2.03h-1.694v2.03h-.938v1.456h.938v3.892c0 1.624.882 2.17 2.128 2.17zm12.179-.126h1.652v-2.198h1.4v-1.414h-1.4V9.589h-1.47l-5.446 6.44.322 1.232h4.942v2.198zm-3.22-3.612l3.22-3.878v3.878h-3.22zm7.653 5.656c1.414-.126 2.156-.784 2.156-2.338v-1.638h-1.862v1.932h.728c.056.714-.35 1.148-1.204 1.316l.182.728zm7.357-1.876c2.17 0 3.64-1.316 3.64-3.318v-.028c0-2.072-1.512-3.08-3.416-3.08-.658 0-1.092.112-1.554.28l.154-2.296h4.382V9.659h-5.866l-.28 4.802 1.036.686c.504-.238 1.106-.434 1.806-.434 1.19 0 2.03.63 2.03 1.624v.028c0 1.022-.77 1.694-1.946 1.694-.91 0-1.736-.448-2.52-1.176l-1.064 1.246c.924.896 2.1 1.498 3.598 1.498zm3.844 1.624h1.47l6.328-12.964h-1.47l-6.328 12.964zm11.633-1.624c2.17 0 3.64-1.316 3.64-3.318v-.028c0-2.072-1.512-3.08-3.416-3.08-.658 0-1.092.112-1.554.28l.154-2.296h4.382V9.659h-5.866l-.28 4.802 1.036.686c.504-.238 1.106-.434 1.806-.434 1.19 0 2.03.63 2.03 1.624v.028c0 1.022-.77 1.694-1.946 1.694-.91 0-1.736-.448-2.52-1.176l-1.064 1.246c.924.896 2.1 1.498 3.598 1.498z" fill="#fff"></path><g clip-path="url(#b)" fill="#fff"><path d="M23.652 7.797h9.113V9.49h-3.583v9.514h-1.97V9.489h-3.568V7.797h.008zm8.723 3.092h1.685v1.566h.032c.055-.221.159-.435.31-.64a2.923 2.923 0 011.263-.989c.262-.103.532-.158.802-.158.207 0 .358.008.437.016.08.007.159.023.246.031v1.724a5.825 5.825 0 00-.389-.055 3.32 3.32 0 00-.39-.024c-.301 0-.587.063-.857.182s-.5.3-.7.53a2.69 2.69 0 00-.476.87 3.67 3.67 0 00-.175 1.194v3.859h-1.795v-8.106h.008zm13.03 8.114h-1.763v-1.131h-.032a2.444 2.444 0 01-.985.98 2.705 2.705 0 01-1.335.372c-1.073 0-1.851-.26-2.328-.79-.477-.53-.715-1.33-.715-2.397V10.89h1.796v4.974c0 .712.135 1.218.413 1.51.27.293.66.443 1.152.443.381 0 .691-.055.945-.173.255-.12.461-.27.612-.467.159-.19.27-.427.342-.696s.103-.561.103-.878v-4.705h1.795v8.106zm3.06-2.602c.055.522.253.886.595 1.1.35.205.763.315 1.247.315.167 0 .358-.015.572-.039s.422-.08.604-.15a1.16 1.16 0 00.47-.325c.118-.142.174-.324.166-.553a.762.762 0 00-.254-.562 1.79 1.79 0 00-.604-.355c-.246-.087-.524-.166-.842-.23s-.636-.134-.962-.205a9.168 9.168 0 01-.969-.27 2.965 2.965 0 01-.834-.426 1.88 1.88 0 01-.588-.68c-.151-.277-.222-.617-.222-1.028 0-.443.11-.807.325-1.108.215-.3.493-.537.819-.72.333-.181.699-.308 1.104-.387.405-.07.794-.11 1.16-.11.421 0 .826.047 1.208.134.38.087.73.23 1.04.435.31.198.564.459.77.775.208.316.335.704.39 1.155h-1.875c-.087-.427-.278-.72-.588-.862a2.417 2.417 0 00-1.064-.222c-.127 0-.278.008-.453.032a2.484 2.484 0 00-.493.118 1.067 1.067 0 00-.389.254.61.61 0 00-.159.434c0 .222.08.396.23.53.151.135.35.245.596.34.247.087.525.166.843.23s.643.134.977.205c.326.071.643.166.961.27.318.102.596.244.842.426s.445.403.596.672c.151.27.23.61.23 1.005 0 .482-.11.885-.333 1.225a2.636 2.636 0 01-.858.815c-.35.206-.747.364-1.176.459s-.858.142-1.28.142c-.516 0-.992-.055-1.43-.174s-.818-.293-1.135-.522a2.592 2.592 0 01-.755-.878c-.183-.348-.278-.767-.294-1.25h1.811v-.015zm5.926-5.512h1.359V8.453h1.795v2.436h1.621v1.337h-1.62v4.333c0 .19.007.348.023.49.016.135.056.254.111.348s.143.167.263.214c.119.047.27.071.476.071.127 0 .254 0 .382-.008s.254-.023.381-.055v1.384c-.199.024-.397.04-.58.063-.19.024-.381.032-.58.032-.477 0-.858-.048-1.144-.135-.286-.087-.517-.221-.675-.395a1.371 1.371 0 01-.334-.649 4.85 4.85 0 01-.103-.893V12.24h-1.359V10.89h-.016zm6.046 0h1.7v1.1h.032c.255-.475.604-.807 1.057-1.013a3.496 3.496 0 011.47-.308c.643 0 1.2.11 1.676.34.477.221.874.53 1.192.925.318.395.548.854.707 1.376s.238 1.083.238 1.676c0 .546-.071 1.076-.214 1.582a4.223 4.223 0 01-.644 1.36 3.154 3.154 0 01-1.096.941c-.445.237-.962.356-1.565.356-.263 0-.525-.024-.787-.071a3.472 3.472 0 01-.755-.23 2.725 2.725 0 01-.667-.403 2.507 2.507 0 01-.516-.569h-.032V22h-1.796V10.889zm6.277 4.065c0-.364-.048-.72-.143-1.068a2.872 2.872 0 00-.43-.917 2.184 2.184 0 00-.706-.64 1.99 1.99 0 00-.978-.246c-.754 0-1.326.261-1.708.783-.381.522-.572 1.218-.572 2.088 0 .411.048.79.151 1.139.103.347.246.648.453.901.199.253.437.45.715.593.278.15.604.222.97.222.413 0 .754-.087 1.04-.253.286-.167.517-.388.7-.649.182-.269.317-.57.397-.91a5.06 5.06 0 00.11-1.043zm3.17-7.157h1.795V9.49h-1.795V7.797zm0 3.092h1.795v8.114h-1.795v-8.114zm3.4-3.092h1.796v11.206h-1.796V7.797zm7.302 11.427c-.652 0-1.232-.11-1.74-.324a3.842 3.842 0 01-1.295-.886c-.35-.38-.62-.83-.803-1.352a5.196 5.196 0 01-.278-1.724c0-.617.095-1.186.278-1.708.183-.522.453-.973.803-1.352.35-.38.786-.673 1.295-.886.508-.214 1.088-.324 1.74-.324.651 0 1.231.11 1.74.324.508.213.937.514 1.295.886.35.38.62.83.802 1.352.183.522.278 1.091.278 1.708 0 .625-.095 1.202-.278 1.724-.183.522-.453.973-.802 1.352s-.787.672-1.295.886-1.089.324-1.74.324zm0-1.415a2.09 2.09 0 001.04-.253 2.21 2.21 0 00.723-.657 2.94 2.94 0 00.421-.917 4.18 4.18 0 00.136-1.044c0-.348-.048-.688-.136-1.036a2.698 2.698 0 00-.42-.917 2.09 2.09 0 00-1.764-.902 2.09 2.09 0 00-1.041.253 2.278 2.278 0 00-.723.649c-.19.269-.326.57-.421.917a4.213 4.213 0 00-.135 1.036c0 .356.047.704.135 1.044.087.34.23.648.42.917s.43.49.724.657c.294.173.643.253 1.04.253zm4.64-6.92h1.358V8.453h1.796v2.436H90v1.337h-1.62v4.333c0 .19.008.348.023.49.016.135.056.254.112.348s.143.167.262.214c.119.047.27.071.477.071.127 0 .254 0 .38-.008s.255-.023.382-.055v1.384c-.198.024-.397.04-.58.063-.19.024-.381.032-.58.032-.476 0-.858-.048-1.144-.135-.286-.087-.516-.221-.675-.395a1.37 1.37 0 01-.334-.649 4.841 4.841 0 01-.103-.893V12.24H85.24V10.89h-.016zM10.781 15.587l4.696-1.21 1.97 6.026-6.666-4.816zm10.773-7.79h-8.231L10.781 0 8.238 7.798 0 7.79l6.666 4.816-2.542 7.797 6.658-4.816 4.115-2.973 6.658-4.816z"></path></g><g clip-path="url(#a)" clip-rule="evenodd" fill="#32B496" fill-rule="evenodd"><path d="M102 5.373h18.188v18H102v-18zm11.86 11.438l-2.766.693 3.921 2.831-1.155-3.525zm-1.27-3.863h4.869l-3.921 2.812-2.425 1.725-3.941 2.813 1.497-4.537-3.941-2.813h4.869l1.497-4.538 1.496 4.538zM121.7 5.373h18.188v18H121.7v-18zm11.86 11.438l-2.766.693 3.922 2.831-1.156-3.525zm-1.269-3.863h4.869l-3.922 2.812-2.425 1.725-3.941 2.813 1.497-4.537-3.941-2.813h4.869l1.497-4.538 1.497 4.538zM141.41 5.373h18.188v18H141.41v-18zm11.86 11.438l-2.766.693 3.922 2.831-1.156-3.525zm-1.269-3.863h4.869l-3.922 2.812-2.425 1.725-3.941 2.813 1.497-4.537-3.941-2.813h4.869l1.497-4.538 1.497 4.538zM161.11 5.373h18.188v18H161.11v-18zm11.86 11.438l-2.766.693 3.922 2.831-1.156-3.525zm-1.269-3.863h4.869l-3.922 2.812-2.425 1.725-3.941 2.813 1.497-4.537-3.94-2.813h4.868l1.497-4.538 1.497 4.538zM180.81 5.373h9.094v3.038l-1.496 4.537h-4.869l3.94 2.813-1.496 4.537 3.921-2.799v5.874h-9.094v-18z"></path></g><defs><clipPath id="b"><path fill="#fff" d="M0 0h90v22H0z"></path></clipPath><clipPath id="a"><path fill="#fff" d="M102 5.373h97v18h-97z"></path></clipPath></defs></svg>
    </div>
      <div class="banner-image">
          <img src="https://images.unsplash.com/photo-1540518614846-7eded433c457?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1039&q=80" alt="messy bed">
      </div>
  </div>
   <div class="intro-section d-flex justify-content-around py-5">
     <div class="section">
       <h1>+120.000</h1>
       <h3>beds online</h3>
     </div>
     <div class="section">
       <h1>+14.000</h1>
       <h3>active landlords</h3>
     </div>
     <div class="section">
       <h1>+150.000</h1>
       <h3>verified beds</h3>
     </div>
   </div>
</div>
<div class="categories-container">
    <h2>Choose your bed & you won't sleep bad today</h2>
    <div class="row">
        <div class="col-sm">
            <%= link_to beds_path(category: 'hammock') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1573209580826-13bdfd6db7e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80)">
                    Hammock
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to beds_path(category: 'single') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://previews.123rf.com/images/anastasiia22/anastasiia221805/anastasiia22180500541/102208151-an-old-prison-cell-an-iron-bed-and-a-table.jpg)">
                    Single bed
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to beds_path(category: 'double') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585469434395-ac3d72767035?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGRvdWJsZSUyMGJlZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
                    Double bed
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <%= link_to beds_path(category: 'mattress') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i1.adis.ws/i/hmk/100176?h=500&w=598&sm=CM&$Express%20Delivery-PDP$)">
                    Mattress
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to beds_path(category: 'water') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.mattressonline.co.uk/content/products/full/holidoze-waterbed2.jpg)">
                    Water bed
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to beds_path(category: 'bunk') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://decorexpro.com/images/article/orig/2017/10/dvuhyarusnaya-krovat-belogo-cveta-v-interere-detskoj-1.jpg)">
                    Bunk bed
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <%= link_to beds_path(category: 'king-size') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1564032775255-6470bd36edf6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80)">
                    King-size bed
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to beds_path(category: 'car') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://target.scene7.com/is/image/Target/GUEST_3c2bc77b-d16d-4091-ae46-1c01cf67a85a?wid=488&hei=488&fmt=pjpeg)">
                    Car bed
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to beds_path(category: 'round') do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://sc02.alicdn.com/kf/HTB1UZvPXy_1gK0jSZFq763paXXaa/230820059/HTB1UZvPXy_1gK0jSZFq763paXXaa.png)">
                    Round bed
                </div>
            <% end %>
        </div>
    </div>
</div>


