  <%= simple_form_for(bed) do |f| %>
    <div class="img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("hammocky.jpg") %>)">
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-container">
      <div class="container justify-content-center" >
      <div class="modal-body">
        <%= f.input :title %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :description, as: :text %>
        <%= f.input :category, as: :select, collection: %w[king-size single double water hammock mattress bunk round car] %>
      </div>
    </div>


    <div class="w-50 modal-content m-auto bg-#475841">
      <%= f.submit 'Add your Bed', class:'green-btn' %>
  <% end %>
    <button type="button" class="green-btn mt-3" data-dismiss="modal">Back</button>
    </div>
  </div>
