<div class="d-flex">
  <div class="product-container">
    <div class="background-container">
      <% if @editor %>
        <h2>Your beds </h2>
      <% else %>
        <h2>Find all beds near you </h2>
      <% end %>
      <div class="grid">
        <% @beds.each do |bed| %>
          <%= link_to bed_path(bed) do %>
            <div class="card-product">
                <% if bed.photo.attached? %>
                  <%= cl_image_tag bed.photo.key %>
                <% else%>
                  <%= image_tag 'new_bed_icon.jpg' %>
                <% end %>
                  <div class="card-product-infos">
                      <h2><%= bed.title %></h2>
                      <p><%= bed.description %></p>

                      <p><i class="fas fa-vector-square"></i><%= bed.size %> </p>
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                      <h2 class="bed-price"><span><%= bed.price.floor %>$</span></h2>
                  </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div id="map"
       style="width: 1140px; height: 80vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
