<div class="show-container">
  <div class="img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= choose_image(@bed) %>)">
  </div>
  <div class="info">
    <h2><%= @bed.title %> - <%= @bed.category %></h2>
    <p><%= @bed.description %></p>
  </div>
  <% if current_user != @bed.user%>
    <%= simple_form_for [@bed, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.input :duration %>
      <%= f.submit 'Book bed', class:'green-btn' %>
    <% end %>
  <% else %>
    <%= link_to "Update your bed", edit_bed_path, class: "green-btn" %>
    <%= link_to "Delete your bed", bed_path(@bed), class: "green-btn", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
  <% end %>
</div>


<div>
    <ul>
    <% @bed.reviews.each do |review| %>
    <li>
    <p> <%= review.user.first_name %></p>
    <p> <%= review.comment %> </p>
    </li>
    <% end %>
    </ul>
</div>


<% if params[:review].present? %>
  <%= simple_form_for [@bed, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.submit 'Add', class:'btn btn-info' %>
  <% end %>
<% end %>

</div>


