<div class="container">
  <div class="show-container">
    <div class="img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= choose_image(@bed) %>)">
    </div>
    <div class="info">
      <h2><%= @bed.title %> - <%= @bed.category.capitalize %></h2>
      <p><%= @bed.description %></p>
      <p><%= @bed.price%>€ /h</p>
    </div>
  </div>


  <div class="show-container">
    <% if current_user != @bed.user && params[:review].present? == false %>
      <%= simple_form_for [@bed, @booking] do |f| %>
        <%= f.input :date %>
        <%= f.input :duration %>
        <%= f.submit 'Book bed', class:'green-btn' %>
      <% end %>
    <% elsif current_user == @bed.user %>

      <%= link_to "Update your bed", edit_bed_path, class: "green-btn" %>
      <%= link_to "Delete your bed", bed_path(@bed), class: "green-btn", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
    <% elsif params[:review].present? %>
      <div class="booking-form" style="color: white">
        <%= simple_form_for [@bed, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.submit 'Add', class:'green-btn' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="review-title">
    <h2>Reviews</h2>
  </div>
  <div class="reviews">
        <% @bed.reviews.each do |review| %>
        <div class="show-container">
          <p> <strong><%= review.user.first_name %></strong> - <%= review.comment %></p>
        </div>
        <% end %>
  </div>

  </div>
</div>

