<div class="container w-50 p-3">
  <div class="card-trip">
    <% if @bed.photo.attached? %>
        <%= cl_image_tag @bed.photo.key %>
      <% else%>
        <%= image_tag 'new_bed_icon.jpg' %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @bed.title %>, <%= @bed.category.capitalize %></h2>
        <p><%= @bed.description %></p>
        <p class="card-trip-owner">From: <%= @bed.user.email %></p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <h2 class="card-trip-pricing"><%= @bed.price %> €</h2>
    </div>
  </div>

</div>


<% if current_user != @bed.user%>
  <%= simple_form_for [@bed, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.input :duration %>
    <%= f.submit 'Book bed', class:'btn btn-info' %>
  <% end %>
<% end %>

</div>

