<%= @bed.name %>
<div class="bed.name">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="bed-infos">
    <div>
      <%= @bed.category %>
      <h2><%=@bed.title %></h2>
      <%=Short @bed.description %>
      <%=@bed.price %>
      <%=@bed.location %>
    </div>
    <h2 class="bed-pricing">15$</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


