<div class="container">
  <div class="img">
    <% if @bed.photo.attached? %>
      <%= cl_image_tag @bed.photo.key, height: 100, width: 100, crop: :fill %>
    <% else%>
      <%= image_tag 'new_bed_icon.jpg', height: 100, width: 100 %>
    <% end %>
  </div>
  <div class="bed-info">
    <div>
      <h2><%=@bed.title %></h2>
      <p>Category: <%= @bed.category %></p>
      <p>Description: <%= @bed.description %> </p>
      <p> Address: <%=@bed.location %> </p>
    </div>
    <div>
      <h2> Price: <%=@bed.price %> €/h </h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>

<%= simple_form_for [@bed, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.input :duration %>
  <%= f.submit 'Book bed', class:'btn btn-info' %>
<% end %>



